/* This is a horrible mess and needs to be cleaned up */

/* BUTTON */

    li>*:first-child::before{white-space:pre;}
    body #topNav ul>li>a{border-bottom-color:transparent;border-bottom-style:solid;}
    body #topNav ul>li.active-link>a{color:#0c0e10;border-bottom-color:#eee;}
    body #topNav a{color:#676b73;}
    body #topNav a:hover{color:#4074d9;border-bottom-color:#eee;}
    body a,body a:link,body a:visited{color:#507abf;}
    body a:hover,body a:active{color:#4074d9;}
    body a:focus{outline:none;}
    #topNav nav li a{display:inline-block;}
    .page-borders-thick #topNav ul>li>a{border-bottom-width:2px;}
    @media only screen and (max-width:767px){
    .logo-image #topNav nav li a{padding:21px 0 0;}
    }
    * ::selection{background:#d2e0f8;}
    * ::-moz-selection{background:#d2e0f8;}
/*    *{-webkit-font-smoothing:subpixel-antialiased;}*/
    .main-nav>ul>.active-link>a{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;background-image:linear-gradient(180deg,#f4f8ff 0%,#e2edff 100%);color:#1851af!important;box-shadow:inset 0px -1px 1px 0px rgba(94,126,180,.99),inset 0px 0px 0px 1px rgba(44,95,187,.34),0px 1px 1px 0px rgba(0,0,0,.08);border-radius:40px;}
    .main-nav>ul>.active-link>a:hover{background-image:linear-gradient(180deg,#f8faff 0%,#e8f1ff 100%);}
    .main-nav>ul>.active-link>a:active{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;border:0px solid #000!important;background-image:linear-gradient(0deg,#f2f7ff 0%,#e2edff 100%);box-shadow:0px 1px 0px 0px #fff,inset 0px 1px 1px 0px rgba(65,117,204,.99),inset 0px 2px 2px 0px rgba(166,191,231,.99),inset 0px 0px 0px 1px rgba(44,95,187,.34);border-radius:6px;padding:8px 16px 8px q6px!important;color:#1851af!important;line-height:21px;text-shadow:0px 1px 1px #fff;color:#293f97;background-image:linear-gradient(0deg,#ecf3ff 0%,#cfe1fd 100%)!important;box-shadow:0px 1px 0px 0px #fff,inset 0px 1px 1px 0px rgba(26,45,76,.41),inset 0px 2px 2px 0px rgba(68,99,149,.5),inset 0px 0px 0px 1px rgba(28,53,94,.25)!important;}
    .main-nav>ul>li>a{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;background-image:linear-gradient(-179deg,#afafa 0%,#fbfbfb 100%);box-shadow:inset 0px -1px 1px 0px rgba(105,105,105,.5),inset 0px 0px 0px 1px rgba(0,0,0,.3),0px 1px 1px 0px rgba(0,0,0,.08);border-radius:6px!important;border-radius:4px!important;line-height:21px;text-shadow:0px 1px 1px #fff;padding:8px 16px 8px 16px!important;border:0px solid #000!important;color:#222222!important;}
    .main-nav>ul>li>a:hover{background-image:linear-gradient(-179deg,#fff 0%,#fcfcfc 100%);}
    .main-nav>ul>li>a:active{background-image:linear-gradient(-180deg,#dcdcdc 0%,#f4f4f4 100%);box-shadow:inset 0px 1px 1px 0px rgba(0,0,0,.18),inset 0px 0px 0px 1px rgba(57,61,68,.25),inset 0px 2px 2px 0px rgba(152,152,152,.65),0px 1px 0px 0px #fff;}
/* FONTS */

.smoothing-fix {
  -webkit-font-smoothing: antialiased;
}

.ibm {
  font-family: 'IBM Plex Sans', sans-serif; font-weight: 400;
}
.ibm-serif {
  font-family: 'IBM Plex Serif', serif; font-weight: 300;
}
.roboto {
  font-family: 'Roboto', sans-serif; font-weight: 300;
}
.font-light { font-weight: 300;}
.font-heavy { font-weight: 700 !important;}

.logo-small {
    width: 12.1rem;
  }

/* MISC STYLING */

.headshot {
  width: 14rem;
}
/*
.insta {
  padding-top:0rem;
  width: 2.2rem;
}
*/
.about-text {
  font-size: 1.4rem;
  line-height: 1.6;
}
.about-small {
  font-size: 1.15rem;
  line-height: 1.5;
}
.slab {
  font-family: 'Source Serif Pro', serif;
}
.name {
  font-size: 2rem;
}
.contact {
  font-size: 1.7rem;
  padding-top:.3rem;
}
.bg-light-gray {
  background-color: rgba(250, 250, 250, 1)
}
.new-logo {
  width: 16rem;
}
.tag-line {
  margin-top: -0.7rem;
}
.shrink{
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.8);
  }
.cn {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.blue-text {
  color: #2485D6;
}
.blue-color {
  color: #008AFF;
}
.b-blue-dashed {
  border-style: dashed;
  border-color: rgba(0, 162, 255, 0.5);
  border-width: 1px;
}
.card-shadow {
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16)
}
/* Animation for contact glow */

#contact:target {
  animation: highlight 3s ease;
  border: 1px solid rgb(150, 204, 255, 0.0);
}
@keyframes highlight {
  0% { background-color: none; border: 1px solid rgb(150, 204, 255, 0.0);}
  25% { background-color: #96ccff; border: 1px solid rgb(150, 204, 255, 0.5); }
  100% { background-color: none; border: 1px solid rgb(150, 204, 255, 0.0); }
}
section > div {
  transition: all 0.5s ease;      
}

.tag {
      font-weight: 400;
      color: #111111;
/*      font-size: 30px;*/
    }

/* MEDIA QUERIES - a frightening mess */

@media screen and (min-width: 36em) and (max-width: 42em) {
  .side-text {
    margin-top: 4rem;
  }
  .micro {
    margin-left: 0.5rem !important;
  }
  .hero {
    margin-top: 7rem;
    margin-bottom: -6rem;
    padding: 0 0rem;
  }
}
@media screen and (min-width: 36em) and (max-width: 60em) {
  .logo {
    width: 14rem;
  }
}
@media screen and (max-width: 52.1em) {
  .tag {
    margin-top: 2rem;
  }
  .about-tag {
    margin-top: 0rem !important;
  }
  .microscope {
    display: none;
  }
  .header {
    width: 100%;
  }
  .nav-full {
    display:none;
  }
  .title {
    text-align: center;
    margin-bottom: 0rem;
  }
  .ht {
    padding-top: 2rem;
  }
}
@media screen and (min-width: 52.1em) {
  .nav-full {
    display: block;
  }
  .nav-mobile {
    display: none;
  }
  .detail {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 36em) {
  .footer {
    margin-top: 2rem !important;
  }
  .logo-small {
    width: 10rem;
  }
  .nav-mobile {
    margin-top: -.6rem;
  }
  .tag {
    margin-top: 1.2rem;
    margin-bottom: 0rem;
  }
  .insta {
    width: 16px !important;
    margin-top: .2rem;
  }
  .button {
      font-weight: 400;
      font-size: 12px !important;
    }
  .tag {
    font-size: 1.2rem;
  }
  .body-p {
    font-size: 1rem !important;
    line-height: 1.4rem !important;
  }
  .ht {
    padding-top: 2rem;
    text-align: left;
    padding-right: 0 !important;
  }
  .nav {
    margin-top: -1.2rem;
    margin-bottom: -1.6rem;
  }
  .new-logo {
    max-width: 14rem;
    padding-top: .6rem
  }
  .topper {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .logo {
    width: 10rem;
  }
  .ht {
    padding-top: 2rem;
  }
/*
  .insta {
    padding-top:0rem;
    width: 1.8rem !important;
}
*/
  .detail {
    font-size: 1.1rem;
    font-weight: 400 !important;
  }
  .hit {
    font-size: 1.7em;
    font-weight: 300 !important;
  }
  .contact {
    font-size: 1.5rem;
  }
  .name {
    font-size: 1.5rem;
  }
  .about-text {
    font-size: 1.1rem;
    font-weight: 400 !important;
    color: rgba(0,0,0.8)
  }
  .about-small {
    font-size: 1rem;
  }
  .submit {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 60rem) {
  .title-box {
    width: 35%;
  }
  .title-side {
    width: 65%;
  }
  .logo {
    width: 14rem;
  }
}
/*
.insta {
  padding-top:0rem;
  width: 2.2rem;
}
*/
@media screen and (min-width: 36em) and (max-width: 60em) {
  .logo {
    width: 14rem;
  }
}
@media screen and (min-width: 52.1em) and (max-width: 60em) {
  .title-text {
    font-size: 2.4rem !important;
  }
  .title {
    margin-top: -2rem !important;
  }
}
@media screen and (min-width: 52em) and (max-width: 60em) {
  .microscope {
    width: 45%;
  }
  .header {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 52.1em) {
  .footer {
    margin-top: 3rem;
  }
  .title {
    text-align: center;
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 52.1em) {
  .tag {
    margin-left: 0;
  }
  .nav-full {
    display: block;
  }
  .nav-mobile {
    display: none;
  }
}
@media screen and (min-width: 55.1em) {
  .nav {
  max-width: 28rem;
  }
}